<div class="modal-header">
    <h4 class="modal-title">Edit chapter: {{chapter.label}}</h4>
</div>

<div class="modal-body">

	<div class="row" ng-if="chapter">
		<div class="col-md-12">
			<shot-selector title="Select two shots to define the boundaries of this chapter"
			start="chapter.start" end="chapter.end" prettystart="chapter.prettyStart" prettyend="chapter.prettyEnd" chapter="false" collapsed="false"></shot-selector>
		</div>
	</div>

    <div class="row">

		<div class="col-md-12">
		 	<form class="form" role="form">
				<div class="form-group">
					<label for="c_label">Label</label>
					<input id="c_label" class="form-control" ng-model="chapter.label">
				</div>
				<div class="form-group">
					<label for="c_start">Start</label>
					<input id="c_start" class="form-control" ng-model="chapter.prettyStart" placeholder="hh:mm:ss.ms">
				</div>
				<div class="form-group">
					<label for="c_end">End</label>
					<input id="c_end" class="form-control" ng-model="chapter.prettyEnd" placeholder="hh:mm:ss.ms">
				</div>
			</form>

		</div>
	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="saveChapter()">Save</button>
    <button class="btn btn-danger" ng-click="deleteChapter()">Delete</button>
</div>
