<div class="tab-content">


	<div class="dimensions">
		<div class="row" ng-repeat=" d in conf.programmeConfig.dimensions">
			<div class="col-md-12">
				<foldable title="{{d.label}}" collapsed="collapsed"></foldable>
				<div class="dimension" collapse="collapsed">

					<div class="button-panel">
						<button class="btn btn-primary" ng-click="editSingleEnrichment(d)" title="Add new enrichment">New</button>
						<button ng-if="d.service.id != 'informationCards'" title="Retrieve enrichments on demand or edit all enrichments"
							class="btn btn-default" ng-click="editMultipleEnrichments(d)">Search/edit multiple
						</button>
					</div>

					<ul class="enrichments">
						<li ng-repeat="e in activeChapter.dimensions[d.id].annotations track by $index"
							ng-click="setActiveLink($index)" ng-dblclick="editSingleEnrichment(d, e)" title="{{e.label}}">
							<div class="thumbnail" ng-if="e.label">
								<img ng-if="e.poster" ng-src="{{e.poster}}" alt="{{e.label}}">

								<img ng-if="!e.poster" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" alt="Create new chapter">

								<div class="caption">
									<a href="javascript:void(0);" target="_external">{{e.label | limitTo:30}}</a>
								</div>
						    </div>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>

</div>