
<div class="panel panel-default">

	<div class="panel-heading">
		<strong>Edit chapter annotations: {{activeChapter.label}}</strong>

	</div>

	<div class="panel-body">
					
		<div>
			<ul class="nav nav-tabs" role="tablist">
				<li class="active">
					<a data-target="#tab_dim" role="tab" data-toggle="tab">Enrichment dimensions</a>
					<!-- ADD SOME INFORMATION POPOVER-->
				</li>

			</ul>

			<div class="tab-content">				
				<div id="tab_dim" class="tab-pane active" ng-controller="enrichmentController">
					<dimension-tab></dimension-tab>
				</div>				
			</div>
		</div>


	</div>
	
</div>