
<div class="panel panel-default">

	<div class="panel-heading">
		Entities of: {{activeChapter.label}}

	</div>

	<div class="panel-body">
					
		<div>
			<ul class="nav nav-tabs" role="tablist">
				<!--
				<li class="active">
					<a data-target="#tab_ic" role="tab" data-toggle="tab">Information cards</a>
				</li>-->
				<li class="active">
					<a data-target="#tab_dim" role="tab" data-toggle="tab">Enrichments</a>
				</li>

			</ul>

			<div class="tab-content">
				<!--
				<div id="tab_ic" class="tab-pane active" ng-controller="informationCardsController">
					<information-cards-tab></information-cards-tab>
				</div>-->
				<div id="tab_dim" class="tab-pane active" ng-controller="enrichmentController">
					<dimension-tab></dimension-tab>
				</div>				
			</div>
		</div>


	</div>
	
</div>