<div class="modal-header">    
    <h3 class="modal-title">Find enrichments</h3>
</div>

<div class="modal-body">

    <!-- display entities -->
    <div class="row">
        <div class="col-md-12">
            <h4>Detected entities</h4>
            <ul class="entities">
                <li ng-repeat="(k, v) in entities" class="{{getConfidenceClass(v)}} {{isEntitySelected(k)}}">
                        
                    <div ng-click="fetchExtraInfoForEntityLabel(v)" ng-dblclick="toggleEntity(k)" 
                    class="label label-default entity" title="{{k}}">
                        {{k}}&nbsp;({{v.length}})
                    </div>
                </li>
            </ul>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12">
			<button id="fetch_enrichments" class="btn btn-primary" 
			ng-click="fetchEnrichments()">Fetch enrichments</button>
		</div>
	</div>    


    <div class="row">
		<div class="col-md-12">
			<nav class="tab-menu">
				<ul class="vertical-menu">
					<li ng-if="activeEnrichmentSource">
						{{activeEnrichmentSource}}
					</li>
					<li>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="menuFilterSource" data-toggle="dropdown">
								Filter by source
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="menuFilterSource">
								<li role="presentation" ng-repeat="s in enrichmentSources">
									<a role="menuitem" tabindex="-1" ng-click="filterEnrichmentsBySource(s)">{{s}}</a>
								</li>
								
								<li role="presentation" class="divider"></li>

								<li role="presentation" ng-repeat="es in enrichmentEntitySources">
									<a role="menuitem" tabindex="-1" ng-click="filterEnrichmentsByEntitySource(es)">{{es}}</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul class="enrichments">
				<li ng-repeat="e in enrichments">
					<div class="thumbnail" ng-if="e.micropostUrl">
						<a href="{{e.micropostUrl}}" target="_external">
							<img ng-src="{{e.posterUrl}}" alt="{{e.micropost.plainText}}">				
						</a>
						{{e.micropost.plainText | limitTo:30}}
				    </div>
				</li>
			</ul>
		</div>
	</div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
