<div class="modal-header">
    <h4 ng-if="card.uri" class="modal-title">Edit information card: {{card.label}}</h4>
    <h4 ng-if="!card.uri" class="modal-title">Create new information card</h4>
</div>

<div class="modal-body">

    <div class="row">

        <!-- TEMPLATE SELECTION -->
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="useTemplate" ng-change="clearTemplate()"> Use template
                </label>
            </div>
        </div>
        <div class="col-md-9" ng-show="useTemplate">
            <strong>Select template</strong>
            <div class="btn-group" dropdown>
                <button ng-if="!activeTemplate.label" type="button" class="btn btn-primary">No template</button>
                <button ng-if="activeTemplate.label" type="button" class="btn btn-primary">{{activeTemplate.label}}</button>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    <span class="caret"></span>
                    <span class="sr-only">{{activeTemplate.label}}</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="t in templates">
                        <a href="javascript:void(0);"><span ng-click="setTemplate(t)">{{t.label}}</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- SAVED/TEMPLATE PROPERTIES -->
    <div class="row">


        <div ng-show="!card.uri" class="row">
            <div class="col-md-12">
                <span ng-show="!useTemplate && activeTemplate.properties.length == 0" class="alert alert-custom">Please select or find an entity to edit for this card</span>
            </div>
        </div>

        <div class="col-md-12 card-edit-form">
            <h4>Existing properties of the card (Note: adding a label is mandatory)</h4>
            <div class="row">
                <div class="col-md-10">

                    <!--SHOW ALL OTHER PROPERTIES-->
                    <form class="form-inline" role="form" ng-repeat="p in activeTemplate.properties track by $index">
                        <div class="form-group">
                            <input class="form-control disabled" ng-model="activeTemplate.properties[$index].key">
                        </div>
                        <div ng-if="p.type == 'literal'" class="form-group">
                            <input class="form-control" ng-model="activeTemplate.properties[$index].value">
                        </div>
                        <div ng-if="p.type == 'entity'" class="form-group">
                            <vocabulary-autocomplete
                            target="auto_{{$index}}"
                            entity="activeTemplate.properties[$index].value"
                            vocabulary="{{dimension.service.params.vocabulary}}"></vocabulary-autocomplete>
                        </div>
                        <div ng-if="p.type == 'entity'" class="form-group">
                            <input class="form-control" ng-model="activeTemplate.properties[$index].value.label"
                            placeholder="Entity label">
                        </div>
                        <div ng-if="p.type == 'entity'" class="form-group">
                            <input class="form-control" ng-model="activeTemplate.properties[$index].value.uri"
                            placeholder="Entity URI">
                        </div>
                        <div class="form-group">
                            <i class="glyphicon glyphicon-remove interactive" ng-click="removeFromCard($index)"></i>
                        </div>
                        <div class="form-group">
                            <i ng-if="p.type == 'entity' && activeTemplate.properties[$index].value.uri" class="glyphicon glyphicon-cloud" style="color:red;" title="You have added an entity"></i>
                            <i ng-if="p.type == 'entity' && !activeTemplate.properties[$index].value.uri" class="glyphicon glyphicon-pencil" style="color:red;" title="The filled in value is just a text string"></i>
                        </div>
                    </form>

                    <button class="btn btn-primary" ng-click="addToTemplate(null, true)" title="If no suitable properties were found, use this to add custom properties">New property</button>
                    <button class="btn btn-primary" ng-click="addToTemplate(null, false)" title="If no suitable properties were found, use this to add custom properties">New property with entity</button>
                </div>

                <!-- this is the spot where the poster is shown -->
                <div ng-if="poster" class="col-md-2">
                    <!-- when thumbs are available -->
                    <div ng-show="poster" class="thumbnail card-thumb">
                        <img ng-src="{{poster}}" alt="{{card.uri}}" title="{{card.uri}}">
                    </div>
                </div>

            </div>
        </div><!-- END OF card-edit-form -->

    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- not sure yet why, but it's really needed to use $parent.poster instead of poster...-->
            <shot-selector title="Select a shot to use as poster for this information card"
            poster="$parent.poster" chapter="true" collapsed="true"></shot-selector>
        </div>
    </div>



    <!-- display entities -->
    <div class="row">
        <div class="col-md-12">
            <foldable title="Select entities to show additional information (if available)" collapsed="entitiesCollapsed"></foldable>
            <div collapse="entitiesCollapsed">
                <h4>Detected entities</h4>
                <ul class="entities">
                    <li ng-repeat="e in autogeneratedEntities" class="{{entityUtils.getConfidenceClass(e)}} {{isEntitySelected(e)}}">
                        <div ng-click="fetchExtraInfo(e)" class="label label-default entity" title="{{e.label}}">
                            {{e.label}}
                        </div>
                    </li>
                    <li ng-repeat="e in expandedEntities" class="{{entityUtils.getConfidenceClass(e)}} {{isEntitySelected(e)}}">
                        <div ng-click="fetchExtraInfo(e)" class="label label-default entity" title="{{e.label}}">
                            {{e.label}}
                        </div>
                    </li>
                </ul>

                <!-- search for entities on DBpedia -->
                <div class="row">
                    <div class="col-md-12">
                        <h4>Search Entities</h4>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label>Search</label>
                                <vocabulary-autocomplete
                                target="auto_main"
                                entity="foundEntity"
                                vocabulary="{{dimension.service.params.vocabulary}}"
                                ></vocabulary-autocomplete>
                                <div ng-if="foundEntity" ng-click="fetchExtraInfo(foundEntity)"
                                    class="label label-default entity" title="{{foundEntity.label}}">
                                    {{foundEntity.label}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- results from proxy -->
    <div class="row">
        <div ng-show="fetchedTriples" class="card-fetch-form">
            <div class="col-md-12">
                <foldable title="Show additional information" collapsed="fetchedDataCollapsed"></foldable>
                <div collapse="fetchedDataCollapsed">
                    <h4>
                        Use this information as the basis for the card (replacing what is currently filled in at the top)
                        <button type="button" class="btn btn-primary" ng-click="useAsTemplate()">Use as card</button>
                    </h4>

                    <div class="row">

                        <!-- The fetched data-->
                        <div class="col-md-10">
                            <header>
                                <ul>
                                    <li>Label</li>
                                    <li>Value</li>
                                </ul>
                            </header>
                            <form class="form-inline" role="form" ng-repeat="triple in fetchedTriples"
                                ng-click="nextTriple($index)" ng-if="!isReserved(triple.key)">
                                <div class="form-group">
                                    <input disabled class="form-control" value="{{triple.key}}">
                                </div>
                                <div class="form-group">
                                    <div class="textarea" ng-if="!triple.uris[triple.index]">{{triple.values[triple.index]}}</div>
                                    <div ng-if="triple.uris[triple.index]" ng-click="fetchExtraInfo(triple.uris[triple.index])"
                                        class="label label-default entity" title="{{triple.values[triple.index]}}">
                                        {{triple.values[triple.index]}}
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- this is the spot where the poster is shown -->
                        <div class="col-md-2">
                            <header>
                                <ul>
                                    <li>Poster</li>
                                </ul>
                            </header>
                            <!-- when thumbs are available -->
                            <div ng-show="thumbs" class="thumbnail card-thumb">
                                <img ng-src="{{thumbs[thumbIndex]}}" ng-click="nextThumb()">
                                <a ng-click="setCardPoster(thumbs[thumbIndex])">Use as poster</a>
                            </div>
                            <!-- when loading -->
                            <div ng-show="loading" class="thumbnail card-thumb">
                                <img src="/site_media/images/loading.gif" alt="...">
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-danger" ng-click="removeCard()">Delete</button>
</div>