<div class="modal-header">
    <h4 ng-if="!link.label" class="modal-title">Add new annotation to: {{dimension.label}}</h4>
    <h4 ng-if="link.label" class="modal-title">Edit: {{link.label}}</h4>
</div>

<div class="modal-body">

	<!-- saved entities -->
    <div class="row">
        <div class="card-edit-form">
            <div class="col-md-12">
                <h4>Link properties</h4>
                <div class="row">
                    <div class="col-md-10">
                        <header>
                            <ul>
                                <li>Label</li>
                                <li>Value</li>
                            </ul>
                        </header>

                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" disabled value="URL">
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="link.url">
                            </div>
                        </form>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" disabled value="Label">
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="link.label">
                            </div>
                        </form>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" disabled value="Poster">
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="link.poster">
                            </div>
                        </form>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" disabled value="Start time">
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="link.prettyStart">
                            </div>
                        </form>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" disabled value="End time">
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="link.prettyEnd">
                            </div>
                        </form>

                    </div>

                    <!-- this is the spot where the poster is shown -->
                    <div ng-if="link.poster" class="col-md-2">
                        <header>
                            <ul>
                                <li>Poster</li>
                            </ul>
                        </header>
                        <!-- when thumbs are available -->
                        <div ng-show="link.poster" class="thumbnail card-edit-thumb">
                            <img ng-src="{{link.poster}}" >
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <shot-selector title="Select two shots to define the period this information should be shown"
            start="link.start" end="link.end" prettystart="link.prettyStart" prettyend="link.prettyEnd" chapter="true" collapsed="true"></shot-selector>
        </div>
    </div>

</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-danger" ng-click="removeLink()">Delete</button>

</div>
