<div class="modal-header">    
    <h4 class="modal-title">Edit {{dimension.label}}</h4>
</div>

<div class="modal-body">

	<!-- The selected enrichments for this dimension selectedEnrichments-->
	<div class="row">
		<div class="col-md-12">	
			<foldable title="Saved enrichments" collapsed="savedEnrichmentsCollapsed"></foldable>
			<div collapse="savedEnrichmentsCollapsed">

				<div ng-show="savedEnrichments.length == 0" class="row" ng-show="nothingFound">
					<div class="col-md-12">
						<span class="alert alert-custom">No enrichments were added to this dimension yet</span>
					</div>
				</div>

				<ul ng-show="savedEnrichments.length > 0" class="enrichments">
					<li ng-repeat="e in savedEnrichments track by $index">
						<div class="thumbnail" ng-if="e.uri" ng-dblclick="removeEnrichment($index)" title="{{e.description}}">
							<img ng-if="e.poster" ng-src="{{e.poster}}" alt="{{e.label}}">

							<img ng-if="!e.poster" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" alt="Create new chapter">
							
							<div class="caption">
								<a href="{{e.uri}}" target="_external">{{e.label | limitTo:30}}</a>
							</div>
					    </div>
					</li>
				</ul>
			</div>
		</div>
	</div>

    <!-- display entities -->
    <div class="row">
    	
        <div class="col-md-12">
        	<foldable title="Choose entities" collapsed="entitiesCollapsed"></foldable>
        	<div collapse="entitiesCollapsed">

	            <h4>Select one or more entities and fetch useful links</h4>

	            <ul class="nav nav-tabs" role="tablist">
					<li class="active">
						<a data-target="#tab_e_curated" role="tab" data-toggle="tab">Curated</a>
					</li>
					<li>
						<a data-target="#tab_e_expanded" role="tab" data-toggle="tab">Expanded</a>
					</li>
					<li>
						<a data-target="#tab_e_auto" role="tab" data-toggle="tab">Auto</a>
					</li>
				</ul>

	            <div class="tab-content">

	            	<!-- INFORMATION CARDS -->
					<div id="tab_e_curated" class="tab-pane active">
						<ul class="cards">
							<li ng-repeat="e in combinedEnrichments track by $index" title="{{e.label}}">
								<div class="thumbnail">

									<img ng-if="!e.poster" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" alt="...">		      

									<img ng-if="e.poster" ng-src="{{e.poster}}" alt="{{e.label}}">

									<div class="caption">
										<a href="{{e.uri}}" target="_external">
											{{e.label | limitTo : 30 || 'No label' | limitTo : 30}}
										</a>
									</div>
							    </div>
							</li>
						</ul>
					</div>

					<!-- EXPANDED ENTITIES-->
					<div id="tab_e_expanded" class="tab-pane fade">
						
					</div>

					<!-- AUTOGENERATED ENTITIES-->
					<div id="tab_e_auto" class="tab-pane fade">
						<ul class="entities">
			                <li ng-repeat="e in autogeneratedEntities" class="{{entityUtils.getConfidenceClass(e)}} {{isEntitySelected(e.label)}}">
			                    <div ng-click="toggleEntity(e.label)" 
			                    class="label label-default entity" title="{{e.label}}">
			                        {{e.label}}<!-- TODO add the amount again-->
			                        <i ng-if="e.disambiguationURL.indexOf('dbpedia') != -1" class="glyphicon glyphicon-star"></i>
			                    </div>
			                </li>
			            </ul>
					</div>
				</div>

				<!-- SEARCH BAR -->
				<div class="row">
					<div class="col-md-12">
						<form class="form-inline enrichment-search" role="form">
			                <div class="form-group">
			                    <label>Search</label>
			                    <input id="e_query" type="text">
			                </div>
			                <button class="btn btn-primary" ng-click="fetchEnrichments()">
			                	{{fetchButtonText}}
							</button>
			            </form>			
					</div>
				</div>

	            
			</div>
        </div>
    </div>


    <div class="row" ng-show="nothingFound">
		<div class="col-md-12">
			<span class="alert alert-custom">No links were found, please try again with different parameters</span>
		</div>
	</div>

	<!-- The fetched enrichments (make this another template) -->
	<div class="row" ng-show="enrichments">
    	
        <div class="col-md-12">
        	<foldable title="Found enrichments" collapsed="enrichmentsCollapsed"></foldable>
        	<div collapse="enrichmentsCollapsed">        		

        		<!-- The dropdown for filtering the found enrichments -->
			    <div class="row">
					<div class="col-md-12">
						<nav class="tab-menu">
							<ul class="horizontal-menu">
								<li ng-if="activeEnrichmentSource">
									{{activeEnrichmentSource}}
								</li>
								<li>
									<div class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button" id="menuFilterSource">
											Filter by source
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="menuFilterSource">
											<li role="presentation" ng-repeat="s in enrichmentSources">
												<a role="menuitem" tabindex="-1" ng-click="filterEnrichmentsBySource(s)">{{s}}</a>
											</li>
											
											<li role="presentation" class="divider"></li>

											<li role="presentation" ng-repeat="es in enrichmentEntitySources">
												<a role="menuitem" tabindex="-1" ng-click="filterEnrichmentsByEntitySource(es)">{{es}}</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
				</div>


				<!-- The found enrichments (filtered by the currently selected filter) -->
				<div class="row" ng-show="enrichments">
					<div class="col-md-12">
						<ul class="enrichments">
							<li ng-repeat="e in enrichments">
								<div class="thumbnail" ng-if="e.uri" ng-click="addEnrichment(e)" title="{{e.description}}">						
									<img ng-if="e.poster" ng-src="{{e.poster}}" alt="{{e.label}}">

									<img ng-if="!e.poster" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" alt="Create new chapter">
									
									<div class="caption">
										<a href="{{e.label}}" target="_external">
										{{e.label | limitTo:30}}
										</a>
									</div>
							    </div>
							</li>
						</ul>
					</div>					
				</div>

			</div>
		</div>
	</div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
