
<section>
	<div class="row" ng-if="!videos">
		<div class="col-md-12">
			<div class="alert alert-custom">Loading videos...</div>
		</div>
	</div>

	<div class="panel panel-default panel-custom" ng-if="videos">

		<div class="panel-heading">Videos</div>

		<div class="panel-body">
			<ul class="video-selector">
				<li ng-repeat="v in videos" ng-click="setActiveVideo(v);">

					<div class="thumbnail">
						<img ng-if="v.poster" src="{{v.poster}}" alt="{{v.title}}">
						<!--<img ng-if="!v.poster" src="/site_media/images/no-video-thumb.png" alt="{{v.title}}">-->
						<div ng-if="!v.poster" class="no-thumb">
							<i class="glyphicon glyphicon-picture"></i>
						</div>

				      	<div class="caption" title="{{v.dateInserted}}">
				        	{{v.title ? v.title : 'No title' | limitTo:50}}
						</div>
				    </div>

				</li>
			</ul>

		</div>

	</div>
</section>