/* Mixins - highlighting selected/hovering elements */

@mixin activeLabel {
	@include single-box-shadow;
	border: 1px solid #e3e3e3;
	color: $wonderblue;
}

@mixin activeSlot {
	.thumbnail {
		@include single-box-shadow;
		border: 1px solid #a3a3a3;

		.caption {
			background-color:$lightmustard;
		}
		a {
			color: $wonderblue;
		}
	}
	
}

/* Mixins - panel header menu holding glyphicons */

@mixin horizontalMenu($color, $rightFloat : true) {
	list-style:none;
	margin:0px;
	padding:0px;
	@if $rightFloat == true {
		float:right;
	}
	& > li {
		display:inline-block;
		cursor:pointer;
		i {
			color: $color;
		}
	}	
}

@mixin mediaSlots {
	list-style:none;

	li {
		
		cursor:pointer;
		float:left;
		margin:$defaultItemMargin;
		text-align:center;
		width:121px;

		.thumbnail {
			border:1px solid white;
			width:120px;
			max-height: 150px;
			overflow:hidden;			
			img {
				height:$imageHeight;
			}
			.caption {
				overflow:hidden;
				padding-top:2px;
				.status-icon {
					float:left;					
				}
			}
			
		}

		&:hover {
			@include activeSlot;
		}
	}
	.selected {
		@include activeSlot;
	}

}


.foldable {
	width:100%;
	border: 1px solid $bordergrey;
	margin:$defaultMargin 0px;
	cursor: pointer;
	padding: 5px;
	font-weight: bold;
	background-color: gainsboro;

	&:hover {
		background-color: whitesmoke;	
	}

	.glyphicon {
		float:right;
	}
}

.alert-custom {
	display:block;
	margin-top:$defaultMargin;
	background-color:$warningRed;
	border-radius:0px !important;
}
