/* Related to tabs in the editorPanel */

.tab-content {
	margin-top:$defaultMargin;
}

.tab-menu {
	width:100%;
	display:inline-block;
}

.horizontal-menu {
	@include horizontalMenu($wonderblue, true);
}

.editor-menu {
	@include horizontalMenu('#fff');
}