.entities {
	@include horizontalList();
	margin-bottom:$defaultMargin;
}

/* Mixin for displaying entity labels */

@mixin entityLabel($adjustFonts : false) {
	display:inline-block;
	border: 1px solid white;
	cursor:pointer;
	font-size:100%;	

	&:hover {
		@include activeLabel;
	}

	.selected & {
		@include activeLabel;
	}

	.verylow & {
		background-color:crimson;
		@if $adjustFonts == true {font-size:85%;}
	}
	.low & {
		background-color:indianred;
		@if $adjustFonts == true {font-size:90%;}
	}
	.fair & {
		background-color:darkorange;
		@if $adjustFonts == true {font-size:100%;}
	}
	.medium & {
		background-color:orange;
		@if $adjustFonts == true {font-size:110%;}
	}
	.high & {
		background-color:lightgreen;
		@if $adjustFonts == true {font-size:120%;}
	}
	.veryhigh & {
		background-color:yellowgreen;
		@if $adjustFonts == true {font-size:130%;}
	}
}

.entity {
	@include entityLabel();
}

.autocomplete {
	min-width: 300px !important;
	max-width: 400px !important;
}