* {
    box-sizing: border-box;
}

a {
	cursor:pointer;
}

body {
	padding-top:70px;
	background-image: url(../images/bg-tile-fg.png);
}

@mixin verticalList($inlineBlock : false){
	list-style:none;
	padding:0px;
	margin:0px;
	li {
		@if $inlineBlock {
			display:inline-block;
		} @else {		
			display:inline;
		}
	}
}