* {
    box-sizing: border-box;
}

a {
	cursor:pointer;
}

body {
	padding-top:70px;
	background-image: url(../images/bg-tile-fg.png);
}

.tab-content {
	margin-top:$defaultMargin;
}

.tab-menu {
	width:100%;
	display:inline-block;
}

.vertical-menu {
	@include verticalMenu($wonderblue, true);
}